<!--<div style="display: block">-->
<!--  <canvas baseChart-->
<!--          [data]="pieChartData"-->
<!--          [labels]="pieChartLabels"-->
<!--          [chartType]="pieChartType"></canvas>-->
<!--</div>-->


<!--<h4 style="text-align:center"> A PIE chart that shows total number of UNIVERSITIES from each CONTINENT.-->


<!--  <br/><br/>-->

<!--</h4>-->



<h4 style="text-align:center"> A BAR graph that shows top 2 CONTINENT with the highest NUMBER OF UNIVERSITIES.
  .


  <br/><br/>

</h4>

<div class="container" >
  <div style="display: block;">
    <canvas id="canvas" height="180">{{ chart }}</canvas>
  </div>
</div>

















































<!--<img src="./assets/Asia.png">-->
