<div class="container" style="text-align: center;">

  <h1>WEB APPLICATION TO SHOW COUNTRIES UNIVERSITIES STATS</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <a routerLink="unversitystats.com/universities/top/10"><button type="button" class="btn btn-primary">BAR GRAPH1</button></a>
  <a routerLink="unversitystats.com/universities/top/2"><button type="button" class="btn btn-dark">BAR GRAPH2</button></a>
  <a routerLink="unversitystats.com/universities/continents"><button type="button" class="btn btn-success">PIE CHART</button></a>
  <a routerLink="universitiesinIndia"><button type="button" class="btn btn-danger">University Name, Country, State/Province in INDIA</button></a>
  <a routerLink="universitiesinEurope"><button type="button" class="btn btn-warning">University Name, Country,Country code in EUROPE CONTINENT</button></a>
  <a routerLink="universitiesinAllcountries"><button type="button" class="btn btn-info">Country,Continent,No of universities in ALL COUNTRIES</button></a>


  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

</div>
