<div class="container" style="text-align: center;">

  <h1>Chart Task</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <a routerLink="chart1"><button type="button" class="btn btn-primary">Chart 1</button></a>
  <a routerLink="chart2"><button type="button" class="btn btn-danger">Chart 2</button></a>
  <a routerLink="chart3"><button type="button" class="btn btn-success">Chart 3</button></a>
  <a routerLink="table1"><button type="button" class="btn btn-success">Table 1</button></a>
  <a routerLink="table2"><button type="button" class="btn btn-success">Table 2</button></a>
  <a routerLink="table3"><button type="button" class="btn btn-success">Table 3</button></a>

  
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>

</div>  
